
/* body{
    background-color: red;
} */
*{
    margin: 0;
    padding: 0;

}
.head{
  background-color: blue;
  font-size: 60px;
  padding: 50px;
  margin: 0;
  color: white;
    
}
.banner{
    background-image: url(./banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    margin: 0;
}
.a{display: inline-block;
    margin-top: 50px;
    margin-bottom: 25px;
}
.b{display: inline-block;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
.c{display: inline-block;
    margin-top: 50px;
    margin-bottom: 25px;
}
.midtext{display: block;
    color: blue;
    font-size: 70px;
}
.d{display: inline-block;
    margin-top: 50px;
    margin-bottom: 25px;
}
.e{display: inline-block;
    margin-top: 50px;
    margin-bottom: 105px;
    margin: 10px;
}
.f{
    background-color: blue;
    font-size: 60px;
    padding: 115px;
    color: white;  
    text-align: center;
}
